<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Email Config</title>
</head>
<body>
    <div align="center">
        <h3>Email Configuration</h3>
        <p>
            <a th:href="@{/edit}">
                Edit Setting
            </a>
        </p>
        <table cellpadding="5" th:object="${email}">
            <tr>
                <td>Language: </td>
                <td th:text="*{language}"> </td>
            </tr>
            <tr>
                <td>Page Size: </td>
                <td th:text="*{pagesize} + ' emails per page'"></td>
            </tr>
            <tr>
                <td>Spam Filter: </td>
                <td>
                    <div th:switch="*{filter}">
                        <span th:case="true">Enabled</span>
                        <span th:case="false">Not enabled</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Signature: </td>
                <td th:text="*{signature}"></td>
            </tr>
        </table>
    </div>

</body>
</html>